* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.header {
  border-bottom: 4px solid #e2e8fe;
}

.nav-logo {
  font-size: 3rem;
  font-weight: 900;
  color: #482ff7;
}

.top-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #101010;
}

.hamburger {
  display: none;
}

.container {
  margin-top: 1rem;
}

.sidebar {
  margin-left: 2rem;
}

.side-navbar,
.nav-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 1rem;
}

.nav-link {
  font-size: 1.5rem;
  font-weight: 400;
  color: #475569;
}

.nav-link:hover {
  color: #101010;
}

.user-projects-header {
  display: flex;
  align-items: center;
}

.add-project {
  margin-left: 1rem;
  cursor: pointer;
}

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

@media only screen and (max-width: 480px) {
  .sidebar {
    margin: 1rem 0 0 0;
    position: fixed;
    left: -100%;
    top: 5rem;
    background-color: #fff;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
  }

  .sidebar.active {
    left: 0;
  }

  .side-navbar {
    align-items: center;
  }

  .nav-item {
    margin: 1rem 0;
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg)
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}

input {
  border: none;
  font-size: large;
}

input:focus {
  outline: none;
}

.centered {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.add-project-popup {
  display: none;
  z-index: -1;
  border: 1px #475569 solid;
  width: 25rem;
  height: 6rem;
  padding: 0.5rem 1.5rem 0.5rem 1.5rem;
}

.add-project-popup .form-container {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
}

.add-project-popup .action-bar {
  display: flex;
  padding-bottom: 0.5rem;
  justify-content: space-between;
  border-bottom: 1px #475569 solid;
  font-size: 1.2rem;
  font-weight: 400;
}

.clickable {
  color: #475569;
  cursor: pointer; 
}

.active {
  color: #101010;
}